//======================================= Start Footer ============================
footer {
    margin-top: 30px;
    padding: 25px 0;
    background: #1a1e23;
    color: #EEE;
    .lead { margin: 0; font-size: 15px }
}
//======================================= End Footer ============================
